# تجاهل ملفات الكاش الخاصة ببايثون
__pycache__/
*.pyc

# تجاهل ملفات الإعدادات الخاصة بـ VS Code (لو موجودة)
.vscode/

# تجاهل ملفات النظام (ويندوز وماك)
Thumbs.db
.DS_Store

# تجاهل أي ملفات log تطلع جوه الموديول
*.log